
/* ========== RESETS */

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}


/* ========== FONTS */

body {
    font-family: sans-serif;
}

nav li {
    text-transform: uppercase;
}

header h1 {
    text-transform: uppercase;
}
/*
header p {
    font-size: ...;
    letter-spacing: ...px;
}
*/


/* ========== COLOR SCHEME */

nav {
    background-color: #466995;
}

nav li {
    color: #fff;
}

nav li a {
    color: #fff;
}

nav li a:hover {
    color: #dbe9ee;
}

header {
    background-color: #dbe9ee;
}

header h1 {
    color: #466995;
}

header p {
    color: #000;
}

footer {
    background-color: #dbe9ee;
}

footer h3 {
    color: #466995;
}


/* ========== LAYOUT */

/* ============ Heights */

nav {
    height: 100px;
}    

header {
    height: 200px;
}    

.question {
    height: 250px;
}

/* ============ Positions */

.page-container {
    top: 100px;
}


/* ============ Navigation */

nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav li {
    display: inline-block;
/*    margin: 40px 25px;*/
}

nav li:last-child {
    margin-right: 0;
}

nav ul {
    text-align: center;
}

/* ============ Page Container */

.page-container {
    position: relative;
}

/* ============ Welcome Header */

header {
    text-align: center;
}
/*
header div {
    padding: 60px 0;
}

header h1 {
    margin-bottom: 15px;
}
*/

/* ============ Question Section */

.question {
    text-align: center;
}

.question h2 {
/*    padding: 15px 0 30px 0;*/
}


/* ========== LINKS */

nav li a {
    text-decoration: none;
}


/* ========== DEBUGGING */
/*
* {
    outline: 1px solid red;
}
*/


/* ========== VIEWPORTS */

/* ============ Small */

@media (max-width: 640px) {

}

/* ============ Medium */

@media (min-width: 641px) {

}

/* ============ Large */

@media (min-width: 1008px) {

}

