
/* ********** RESETS ********** */

* {
    margin: 0;
    padding: 0;
}


/* ********** COLOR SCHEME ********** */

nav {
    background-color: #466995;
}

nav li {
    color: #fff;
}

header {
    background-color: #dbe9ee;
}

header h1 {
    color: #466995;
}

header p {
    color: #000;
}

footer {
    background-color: #dbe9ee;
}

footer h3 {
    color: #466995;
}


/* ********** LAYOUT ********** */

nav li {
    display: inline-block;
    margin: 25px;
}

nav li:last-child {
    margin-right: 0;
}

nav ul {
    text-align: center;
}


